*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    overflow-x:hidden;
    background:url("../src/theme/images/1.jpg") center center fixed;
    background-size:cover;
}

.hero,
.categories,
.featured-gigs{

    background:rgba(255,255,255,.94);

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
